<%- include('./partials/header.ejs') %>

<body>    
    <div class="grid-container">
      <%- include('./partials/title.ejs') %>
      <%- include('./partials/navbar.ejs') %>
      <%- include('./partials/details.ejs') %>
      <%- include('./partials/menu.ejs') %>
      <%- include('./partials/footer.ejs') %>
    </div>
    
</body>
</html>